template_files/libs/clipboard/clipboard.min.js
template_files/libs/quarto-html/popper.min.js
template_files/libs/quarto-html/quarto-html.min.css
template_files/libs/quarto-html/quarto-syntax-highlighting-dark.css
template_files/libs/quarto-html/quarto-syntax-highlighting.css
template_files/libs/quarto-html/tabby.min.js
template_files/libs/quarto-html/tippy.css
template_files/libs/quarto-html/tippy.umd.min.js
template_files/libs/revealjs/dist/reset.css
template_files/libs/revealjs/dist/reveal.css
template_files/libs/revealjs/dist/reveal.esm.js
template_files/libs/revealjs/dist/reveal.esm.js.map
template_files/libs/revealjs/dist/reveal.js
template_files/libs/revealjs/dist/reveal.js.map
template_files/libs/revealjs/dist/theme/quarto.css
template_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
template_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
template_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
template_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
template_files/libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
template_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
template_files/libs/revealjs/plugin/highlight/highlight.esm.js
template_files/libs/revealjs/plugin/highlight/highlight.js
template_files/libs/revealjs/plugin/highlight/monokai.css
template_files/libs/revealjs/plugin/highlight/plugin.js
template_files/libs/revealjs/plugin/highlight/zenburn.css
template_files/libs/revealjs/plugin/markdown/markdown.esm.js
template_files/libs/revealjs/plugin/markdown/markdown.js
template_files/libs/revealjs/plugin/markdown/plugin.js
template_files/libs/revealjs/plugin/math/katex.js
template_files/libs/revealjs/plugin/math/math.esm.js
template_files/libs/revealjs/plugin/math/math.js
template_files/libs/revealjs/plugin/math/mathjax2.js
template_files/libs/revealjs/plugin/math/mathjax3.js
template_files/libs/revealjs/plugin/math/plugin.js
template_files/libs/revealjs/plugin/notes/notes.esm.js
template_files/libs/revealjs/plugin/notes/notes.js
template_files/libs/revealjs/plugin/notes/plugin.js
template_files/libs/revealjs/plugin/notes/speaker-view.html
template_files/libs/revealjs/plugin/pdf-export/pdfexport.js
template_files/libs/revealjs/plugin/pdf-export/plugin.yml
template_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
template_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
template_files/libs/revealjs/plugin/quarto-line-highlight/plugin.yml
template_files/libs/revealjs/plugin/quarto-support/footer.css
template_files/libs/revealjs/plugin/quarto-support/plugin.yml
template_files/libs/revealjs/plugin/quarto-support/support.js
template_files/libs/revealjs/plugin/reveal-menu/menu.css
template_files/libs/revealjs/plugin/reveal-menu/menu.js
template_files/libs/revealjs/plugin/reveal-menu/plugin.yml
template_files/libs/revealjs/plugin/reveal-menu/quarto-menu.css
template_files/libs/revealjs/plugin/reveal-menu/quarto-menu.js
template_files/libs/revealjs/plugin/search/plugin.js
template_files/libs/revealjs/plugin/search/search.esm.js
template_files/libs/revealjs/plugin/search/search.js
template_files/libs/revealjs/plugin/zoom/plugin.js
template_files/libs/revealjs/plugin/zoom/zoom.esm.js
template_files/libs/revealjs/plugin/zoom/zoom.js
