/*-- scss:defaults --*/

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Hind+Madurai:700,600,500,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(249, 249, 236);
// $mainColor: rgb(12, 33, 49) !default;
$mainFont: 'Raleway', sans-serif;
$linkColor: #3440ab;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Hind Madurai', sans-serif;
$headingColor: rgb(7, 37, 62);
$headingTextShadow: none;
$headingLetterSpacing: -0.0em;
$headingTextTransform: none;
$selectionBackgroundColor: darken( $backgroundColor, 40% );

.reveal.h2.author {
    font-weight: normal;
    line-height: 90px;
}